@media screen and (min-width: 250px) and (max-width: 600px) {
  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(5px);
    gap: 2rem;
    box-shadow: 0px 2px 50px #1f1f1f;
  }

  #recieve-msg {
    font-size: 14px;
    color: #ff1928;
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
  }

  audio {
    opacity: 100%;
    position: relative;
    border-radius: 30rem;
    border: 5px solid #ff878f;
    width: 100%;
    scale: 0.7;
  }

  .nav-bar a {
    font-size: 14px;
  }

  .main-box {
    background-color: transparent;
    background-size: cover;
    height: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 4em;
  }

  .pfps {
    width: fit-content;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background-color: transparent;
    flex-direction: column;
    z-index: 1;

    background-color: rgb(184, 0, 31);
    border-radius: 1rem;
    padding: 2rem;
  }

  .pfp {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 16rem;
    height: 16rem;
    background-color: #ff3c49;
    border-radius: 50%;

    box-shadow: 1px 2px 15px #000000b8;

    animation: fadeIn 2s ease;
    animation-timeline: view();
    animation-range: entry 0%;
  }
  #pfp-image {
    width: 15rem;
    height: auto;
    border-radius: 50%;
    overflow-x: auto;
    animation: fadeIn 2s ease;
    animation-timeline: view();
    animation-range: entry 0%;
  }

  #best-akkoi {
    font-size: 12px;
    letter-spacing: 0.5rem;
  }

  /* box 1 */
  .mainbox-1 {
    width: 18rem;
    background-color: #5eab00;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;

    border-radius: 2rem;
    border: 3px solid rgb(175, 255, 2);

    gap: 0.8rem;
    animation: fadeIn 1s ease-in-out;
    animation-timeline: view();
    animation-range: entry -1%;
  }

  #gif-1 {
    width: 260px;
    height: auto;
    border-radius: 2rem;
    box-shadow: 1px 2px 10px rgb(42, 41, 41);
  }
  #gif-2 {
    width: 250px;
    height: auto;
    border-radius: 1.5rem;
    box-shadow: 1px 2px 10px rgb(42, 41, 41);
  }

  .mainbox-1-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    gap: 0.2rem;
    flex-direction: column;
    background-color: #fbfbfb;
    width: 18rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 10px #21212146;

    font-size: 14px;
    font-weight: bold;
  }

  .my-wish {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;

    width: fit-content;
    height: auto;
    background-color: #ffd484;
    border-radius: 2rem;
    padding: 2rem;

    font-size: 15px;
    font-weight: bold;
    color: #ff1928;

    animation: fadeIn 1s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0%;
  }
}
